* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


#root {
    background-color: rgb(46, 7, 82);
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 5px;
}


.post {
    background-color:  #7200a7;
    padding: 10px;
    margin: 10px;
    max-width: 100%; 

    border-radius: 30px;
    border: 2px solid teal;

    display: grid;
    grid-template-columns: 3fr 1fr;
    /* justify-content: space-between; */

    text-align: center;
    
    
}

.post__content {
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
}

.post__btn{
    margin-right: 0;
}

/* .post__image {
    width: 150px;
    height: 200px;
  
    object-fit: cover;
    border-radius: 20px;
  
    align-self: flex-start;
  
    padding: 10px;
  } */

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  background-color: rgb(115, 11, 141);
  min-height: 100vh;

  display: flex;
  flex-direction: column;

  padding: 10px;
}

.post {
  background: rgb(51, 30, 59);
  color: white;

  display: grid;
  grid-template-columns: auto auto 1fr;
  gap: 5px;

  width: 90%;
  padding: 20px;
  margin: 50px;

  border-radius: 30px;

  white-space: pre-line;
  word-wrap: break-word;
  overflow-wrap: break-word;
  overflow: hidden;
}


.post > *{
    white-space: pre-line;
    word-wrap: break-word;
    overflow-wrap: break-word;
    overflow: hidden;

}
.post__content {
  width: 100%;
  padding: 5px 20px;
  margin: 5px 0;
  border: 1px solid rebeccapurple;

  white-space: pre-line;
  word-wrap: break-word;
  overflow-wrap: break-word;
  overflow: hidden;
}



.post__btn {
  align-self: flex-end;
} */
