.navabar {
  height: 130px;

  padding-top: 80px;
  max-width: 1210px;
  margin: 0 auto;
  margin-bottom: -130px;
}

.navabar__links {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}

.navabar__logo {
  position: relative;
  width: 175px;
  height: 60px;
}

.navabar__logo__img {
  position: absolute;
  top: -17%;
  right: -6%;
}

.navabar__logo__title {
  position: absolute;
  z-index: 2;
  font-family: Inter;
  font-weight: 800;
  font-style: italic;
  font-size: 18px;
  color: rgba(0, 0, 0, 1);
  right: 15%;
  top: 5%;
}

.navabar__links__item {
  background-color: #7634d3;
  height: 40px;
  font-size: 18px;
  color: rgba(0, 0, 0, 1);
  font-weight: 800;
  padding: 8px;
  text-align: center;
  border-radius: 50px;
  text-decoration: none;
}

.navabar__links__logAndReg {
  display: flex;
  gap: 30px;
}

.navabar__links__item_reg {
  width: 205px;
}

.navabar__links__item_log {
  width: 115px;
}


.navabar__links__item_post {
  background-color: transparent; 
}
/* ffff */

.navabar__links__item_logout {
  width: 115px;
  background-color: #ff4d4f;
  color: white;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 18px;
  font-weight: 800;
}

.navabar__links__item_logout:hover {
  background-color: #d9363e;
}